.avatar {
  min-width: 40px;
  max-width: 40px;
  width: 40px;
}

.user {
  display: grid;
  grid-template-areas: 
  'a a'
  'inf btns';
  grid-template-columns: 8fr 2fr;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eaf1f6;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  transition: all 0.15s linear 0s;
}

.user:hover{
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.avatar img {
  grid-area: ava;
  max-width: 100%;
}

.info {
  grid-area: inf;
}

.btnGroups {
  grid-area: btns;
  margin: auto
}

.userName{
  text-align: start;
}

.btnFollow {
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
  line-height: 1.5;
  background: #088dcd;
  margin-right: 5px;
}

.btnUnfollow {
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
  line-height: 1.5;
  background: lightslategray none repeat scroll 0 0;
}