.header {
  background-image: url('https://png.pngtree.com/background/20210711/original/pngtree-3d-purple-smoke-background-picture-image_1162422.jpg');
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.avatar{
  margin-left: 20px;
  margin-bottom: 10px; 
}

/* .avatarBox{
  position: relative;
} */


.title {
  padding-top: 10%;
  color: #fff !important;
}