.usersList {
  margin-top: 30px;
}

.users {
  padding: 10px;
  background: #fdfdfd;
  border: 1px solid #ede9e9;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.heading span{
  border: 1px solid #ccc;
  border-radius: 30%;
  display: inline-block;
  font-size: 14px;
  line-height: initial;
  margin-left: 5px;
  text-align: center;
  width: 25px;
  color: #8d8d8d;
}

.btnShow {
  display: block;
  margin: auto;
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
  line-height: 2;
  background: #088dcd;
}