.header {
  grid-area: h;
  background-color: #E0C5EC;
  background-image: url('https://i.pinimg.com/originals/5c/0b/68/5c0b689ab5db2651eff3a565ee176bc9.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
