.nav {
  grid-area: n;
  padding: 15px 30px;
  color: #797979;
  background: #fdfdfd;
  border: 1px solid #ede9e9;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

.name {
  color: #088dcd;
}

.item {
  margin: 20px 0;
}

.item a{
  color: #797979;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}