.nav {
  grid-area: n;
  padding: 15px 150px;
  color: #797979;
  display: flex;
  justify-content: space-around;
  background: #fdfdfd;
  border: 1px solid #ede9e9;
  border-radius: 5px;
}

.name {
  margin: 0;
  color: #088dcd;
}

.item a{
  color: #797979;
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}