.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background: #fdfdfd;
  border: 1px solid #ede9e9;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

.dialogsList {
  padding: 10px;
  border-right: 1px solid #e1e8ed;
}

.messages {
  padding: 10px;
}