* {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: auto;
  grid-template-areas: 
  'h h'
  'n c'
  'f c';
  grid-template-rows: 200px 400px 400px;
  grid-template-columns:  3fr 10fr;
  background: #f4f2f2;
  color: #797979;
}  

.app-wrapper-content {
  grid-area: c;
  color: #797979;
  background: #f4f2f2;
}

a {
  text-decoration: none;
  color: #797979;
}

a.active {
  color: gold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}
h1,h2,h3,h4,h5, p {
  margin: 0;
}
