.app-wrapper {
  display: grid;
  width: 1200px;
  margin: auto;
  grid-template-areas: 
  'h h'
  'n n'
  'c c';
  grid-template-rows: 100px 60px 10fr ;
  grid-template-columns:  2fr 10fr;
}  

.app-wrapper-content {
  grid-area: c;
  color: #797979;
  background: #fdfdfd;
}

a {
  text-decoration: none;
  color: #797979;
}

a.active {
  color: gold;
}
